<footer class="sectio-footer">
  <div class="container footer-container">
    <div class="footer-social-wrapper">
      <a class="site-logo footer-logo" href="./index.html">
        <p class="text-logo footer-text-logo">
          Lloyd<span class="text-accent">Jefferson.</span>
        </p>
      </a>
      <ul class="social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://github.com/Vyacheslav-Chop/project-persistent-portfolio"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="copy-text">
      &copy; Copyright 2024. Made by LloydJefferson
    </p>
  </div>
</footer>
