<section class="header-section">
  <div class="container header-container">
    <a class="header-logo" href="../index.html">
      <p class="text-logo">Lloyd<span class="text-accent">Jefferson.</span></p>
    </a>
    <button class="toggle-theme-btn" aria-label="Switch theme">
      <span class="toggle-theme-btn-circle"></span>
    </button>
    <button class="burger-menu-btn" aria-label="Open menu" type="button">
      <svg class="burger-menu-btn-icon" width="32" height="32">
        <use href="../img/sprite-svg/icons.svg#burger"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-me">About me</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#projects">Projects</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
