<section class="section section-hero">
  <div class="container">
    <div class="hero-top-box">
      <h1 class="main-title">
        Hello, I am

        <picture class="hero-title-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/hero/lloyd-jefferson-avatar.avif    1x,
              /img/hero/lloyd-jefferson-avatar@2x.avif 2x
            "
          />

          <img
            class="hero-img"
            src="/img/hero/lloyd-jefferson-avatar.avif"
            alt="Lloyd Jefferson"
            width="108"
            height="108"
          />
        </picture>

        <span class="text-accent">Fullstack developer</span>
      </h1>

      <div class="hero-descript">
        <a class="hero-btn" href="#work-together">
          <div class="hero-btn-content">
            <svg class="hero-icon-arrow" width="28" height="16">
              <use href="/img/sprite-svg/icons.svg#icon-hero-arrow"></use>
            </svg>
            <span class="hero-btn-text">Order the <span class="hero-btn-text-accent">project</span></span>
          </div>

          <span class="hero-btn-bg"></span>
        </a>

        <p class="hero-text">
          I work with people all over the world to create
          <span class="text-accent">impressive</span> and
          <span class="text-accent">functional websites</span> that reflect each
          client&rsquo;s unique personality.
        </p>
      </div>
    </div>
  </div>
  <div class="social-list-box">
    <ul class="social-list hero-social-list container">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >Facebook</a
        >
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://github.com/Vyacheslav-Chop/project-persistent-portfolio"
          target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
