<div class="menu is-close">
  <div class="menu-wrapper">
    <div class="menu-header-content">
      <a class="site-logo" href="./index.html">
        <p class="text-logo">
          Lloyd<span class="text-accent">Jefferson.</span>
        </p>
      </a>
      <button class="toggle-theme-btn" aria-label="Switch theme">
        <span class="toggle-theme-btn-circle"></span>
      </button>
      <button
        class="menu-close-btn"
        type="button"
        aria-label="Close menu"
        tabindex="0"
      >
        <svg class="menu-close-btn-icon" width="32" height="32">
          <use href="./img/sprite-svg/icons.svg#menu-close-icon"></use>
        </svg>
      </button>
    </div>
    <div class="theme-switcher">
      <button
        class="text-theme-btn text-theme-btn-defolt"
        data-theme="default"
        aria-label="Set default theme"
      >
        D
      </button>
      <button
        class="text-theme-btn text-theme-btn-blue"
        data-theme="blue"
        aria-label="Set blue theme"
      >
        B
      </button>
      <button
        class="text-theme-btn text-theme-btn-red"
        data-theme="red"
        aria-label="Set red theme"
      >
        R
      </button>
      <button
        class="text-theme-btn text-theme-btn-purple"
        data-theme="purple"
        aria-label="Set purple theme"
      >
        P
      </button>
    </div>
    <nav class="menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#about-me">About me</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#projects">Projects</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>
    <a class="menu-order-link" href="#work-together" data-link-order=""
      >Order the project</a
    >
  </div>
  <ul class="social-list menu-social-list">
    <li class="social-item">
      <a
        class="social-link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        >Instagram</a
      >
    </li>
    <li class="social-item">
      <a
        class="social-link"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        >Facebook</a
      >
    </li>
    <li class="social-item">
      <a
        class="social-link"
        href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        target="_blank"
        >Linkedin</a
      >
    </li>
    <li class="social-item">
      <a
        class="social-link"
        href="https://github.com/Vyacheslav-Chop/project-persistent-portfolio"
        target="_blank"
        >GitHub</a
      >
    </li>
  </ul>
</div>
