<!-- Work together section -->
<section class="section">
  <div class="container work-together-container">
    <div class="work-together-bg"></div>
    <h2 class="work-together-title" id="work-together">
      let's <span class="text-accent">work together</span>
    </h2>
    <div class="work-together-contacts-box">
      <div class="adress-containet work-together-contacts-item">
        <p class="work-together-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>

        <ul class="work-together-contacts-list">
          <li class="work-together-contacts-item">
            <address class="work-together-contacts">
              <div class="contact-link-container">
                <svg class="contacts-icon" width="24" height="24">
                  <use href="/img/sprite-svg/icons.svg#icon"></use>
                </svg>
                <a class="contact-link" href="tel:+380904567890"
                  >+38 090 456 78 90</a
                >
              </div>
            </address>
          </li>
          <li class="work-together-contacts-item">
            <address class="work-together-contacts">
              <div class="contact-link-container">
                <svg class="contacts-icon" width="24" height="24">
                  <use href="/img/sprite-svg/icons.svg#icon-1"></use>
                </svg>
                <a class="contact-link" href="mailto:lloydjefferson@gmail.com"
                  >lloydjefferson@gmail.com</a
                >
              </div>
            </address>
          </li>
          <li class="work-together-contacts-item">
            <address class="work-together-contacts">
              <div class="contact-link-container">
                <svg class="contacts-icon" width="24" height="24">
                  <use href="/img/sprite-svg/icons.svg#icon-2"></use>
                </svg>
                <a
                  href="https://www.google.com/maps/place/New+York,+USA"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="contact-link"
                >
                  USA, New York
                </a>
              </div>
            </address>
          </li>
        </ul>
      </div>
      <form class="work-together-form work-together-contacts-item">
        <input
          class="work-together-input"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="Your email*"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />
        <p class="email-error hidden">Invalid name, try again</p>
        <textarea
          class="work-together-textarea"
          name="user-message"
          id="user-message"
          rows="5"
          placeholder="Message"
          required
        ></textarea>
        <button class="work-send-btn" type="submit">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>
<!--Modal-->
<div class="work-together-backdrop is-close">
  <div class="work-together-modal">
    <!-- <button class="work-modal-close-btn" type="button">
      <svg class="work-modal-btn-close-icon" width="24" height="24">
        <use href="/img/sprite-svg/icons.svg#x"></use>
      </svg>
    </button> -->
    <!-- <h3 class="work-modal-title text-accent">
      Thank you for your interest in cooperation!
    </h3>
    <p class="work-modal-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p> -->
  </div>
</div>
