/* Мобільні стилі */

/* Приховати фонове зображення на мобільних та планшетах */
.faq-background {
  display: none;
}
/* Заголовок */
.faq-title {
  font-family: var(--font-helpers);
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
/* прибираємо "+" з елементу */
ul > li.ac .ac-trigger::after {
  content: '';
}
ul > li.ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}
/* список */
.faq-list {
  gap: 0;
  justify-content: flex-start;
  margin: 0;
  background-color: transparent;
}

/* елемет списку */

ul > li.ac {
  background-color: transparent;
  margin: 0;
  border: none;
}
.faq-item {
  position: relative;
}
.faq-item::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0;
  right: 0;
}
body.theme-light .faq-item::after {
  background-color: #e4e5e6;
}

body.theme-dark .faq-item::after {
  background-color: #e4e5e6;
}

/* Питання */
.ac .ac-trigger.faq-question {
  font-family: var(--font-main);
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #292929;

  margin: 0;
  padding: 28px 24px;

  transition: background-color color 0.3s ease;
}
body.theme-light .ac.is-active .ac-trigger.faq-question {
  background-color: #bcdfd1;
  color: #292929;
}

body.theme-dark .ac.is-active .ac-trigger.faq-question {
  background-color: #204136;
  color: #e4e5e6;
}
body.theme-dark .ac .ac-trigger.faq-question:hover,
body.theme-light .ac .ac-trigger.faq-question:hover {
  background-color: #e1e9e6;
}
body.theme-dark .ac .ac-trigger.faq-question {
  color: #e4e5e6;
}
body.theme-dark .ac .ac-trigger.faq-question:hover {
  background-color: #579380;
}
*/ .faq-arrow-btn-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  stroke: currentColor;
  fill: #292929;
  transition: transform 0.5s ease; /* Плавне обертання */
  /* background: transparent; */
  border: #292929;
  border-radius: 8px;
}

/* Іконки для темної/світлої теми */
body.theme-dark .ac-trigger .faq-arrow-btn-icon {
  stroke: #fffdfd;
}
body.theme-light .ac-trigger .faq-arrow-btn-icon {
  stroke: #292929;
}
.ac.is-active .faq-arrow-btn-icon {
  transform: rotate(180deg);
}
/* відповідь */
.faq-answer {
  padding: 28px 24px;
  background-color: #bcdfd1;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
body.theme-dark .faq-answer {
  background-color: #204136;
  color: #e4e5e6;
}

/* tablet */
@media screen and (min-width: 768px) {
  .faq-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 90px;
  }
  .faq-question {
    font-size: 20px;
    line-height: 1.6;
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
  .faq-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .faq-title {
    max-width: 520px;
  }
  .faq-list {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 592px;
  }
  /* Фонове зображення */
  .faq-background {
    display: flex;
    background-image: url('/img/faq/green-decor-desktop.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 526px;
    min-height: 408px;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .faq-background {
    background-image: url('/img/faq/green-decor-desktop@2x.webp.webp');
  }
}
