/* базовые стили для мобильной версии */

.container-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-title {
  font-family: var(--font-helpers);
  font-size: 52px;
  text-align: center;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.projects-item {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  display: flex;
  flex-direction: column;
}

.projects-image {
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 12px;
  transition: box-shadow 0.3s ease;
}

.projects-image:hover,
.projects-image:focus {
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

.projects-stack {
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.projects-inner {
  display: flex;
  flex-direction: column;
}

.projects-name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.projects-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 12px 24px;
  border-radius: 8px;
  margin-left: auto;
  transition: all 0.3s ease;
}

.projects-link:hover,
.projects-link:focus {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-light .projects-link {
  background-color: #e4e5e6;
}

body.theme-light .projects-link:hover,
body.theme-light .projects-link:focus {
  background-color: #bbbbbb;
  color: #009156;
}

body.theme-dark .projects-link {
  background-color: #2a2d32;
}

body.theme-dark .projects-link:hover,
body.theme-dark .projects-link:focus {
  background-color: #3b3f45;
  color: #14c57c;
}

.project-link-icon {
  width: 24px;
  height: 24px;
}

.projects-load-more {
  background-color: transparent;
  border: none;
  font-family: var(--font-main);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.51;
  transition: all 0.3s ease;
}

.projects-load-more:hover,
.projects-load-more:focus {
  transform: scale(1.05);
  text-shadow: 0 4px 20px rgba(0, 255, 128, 0.2),
    0 0 40px rgba(0, 255, 128, 0.5), 0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-light .projects-load-more {
  color: #2e2f42;
}

body.theme-light .projects-load-more:hover,
body.theme-light .projects-load-more:focus {
  color: #009156;
}

body.theme-dark .projects-load-more {
  color: #f0f0f0;
}

body.theme-dark .projects-load-more:hover,
body.theme-dark .projects-load-more:focus {
  color: #14c57c;
}

.projects-load-more::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  transition: background-color 0.3s ease;
}

body.theme-light .projects-load-more::after {
  background-color: #00b068;
}

body.theme-dark .projects-load-more::after {
  background-color: #14c57c;
}

/* =========================
    Media queries
========================= */

/* Tablet */
@media screen and (min-width: 768px) {
  .projects-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }

  .projects-list {
    gap: 60px;
  }

  .projects-inner {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-right: 120px;
  }

  .projects-link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }

  .projects-image {
    margin-bottom: 16px;
  }

  .projects-stack {
    margin-bottom: 20px;
  }

  .projects-name {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }

  .projects-load-more {
    font-size: 20px;
    line-height: 1.6;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .projects-title {
    margin-bottom: 80px;
  }

  .projects-list {
    gap: 80px;
  }

  .projects-item {
    padding: 0 104px;
  }
}
