.review-title {
  font-family: var(--font-helpers);
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.not-found {
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-light.text-theme-red .not-found {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-light.text-theme-blue .not-found {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-light.text-theme-purple .not-found {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark.text-theme-red .not-found {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-dark.text-theme-blue .not-found {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-dark.text-theme-purple .not-found {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

.not-founs-title {
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.reviews-swiper {
  display: block;
}

.swiper-wrapper {
  display: flex;
  margin-bottom: 24px;
}

.review-card {
  display: flex;
  flex-direction: column;
  background: #e4e5e6;
  text-align: center;
  gap: 24px;
  padding: 32px;
  line-height: 24px;
  border-radius: 16px;
  width: 100%;
  min-height: 440px;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.review-card:hover,
.review-card:focus {
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-light.text-theme-red .review-card:hover,
body.theme-light.text-theme-red .review-card:focus {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-light.text-theme-blue .review-card:hover,
body.theme-light.text-theme-blue .review-card:focus {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-light.text-theme-purple .review-card:hover,
body.theme-light.text-theme-purple .review-card:focus {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark.text-theme-red .review-card:hover,
body.theme-dark.text-theme-red .review-card:focus {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-dark.text-theme-blue .review-card:hover,
body.theme-dark.text-theme-blue .review-card:focus {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-dark.text-theme-purple .review-card:hover,
body.theme-dark.text-theme-purple .review-card:focus {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark .review-card {
  background: #2a2d32;
}

.text {
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.review-author {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 8px 0px 8px 0px;
}

.swiper-slide {
  display: flex;
  margin-bottom: 24px;
}

.swiper-nav {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 1;
}

.swiper-nav .swiper-button-prev::after,
.swiper-nav .swiper-button-next::after {
  content: '';
}

.swiper-nav .swiper-button-prev,
.swiper-nav .swiper-button-next {
  position: initial;
  width: 40px;
  height: 40px;
  border: 1px solid #e4e5e6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-prev:focus,
.swiper-button-next:hover,
.swiper-button-next:focus {
  border: 1px solid #292929;
  background-color: #e4e5e6;
  transform: scale(1.05);
}

body.theme-dark .swiper-button-prev,
body.theme-dark .swiper-button-next {
  border: 1px solid #2a2d32;
}

body.theme-dark .swiper-button-prev:hover,
body.theme-dark .swiper-button-next:hover {
  border: 1px solid #2a2d32;
  background-color: #2a2d32;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button-icon-prev {
  transform: rotate(180deg);
}

.button-icon,
.button-icon-prev {
  margin: 8px;
  fill: #292929;
}

body.theme-dark .button-icon-prev,
body.theme-dark .button-icon {
  fill: #f0f0f0;
}
@media only screen and (min-width: 768px) {
  .review-title {
    font-size: 108px;
    line-height: 1.15;
    margin-bottom: 60px;
  }
  .review-card {
    min-height: 250px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-nav {
    gap: 24px;
  }
  .review-title {
    margin-bottom: 80px;
  }
}
