.theme-light .marquee__inner-1 {
  background-color: #bcdfd1;
}

.theme-light .marquee__inner-2 {
  background-color: #e4e5e6;
}

.theme-dark .marquee__inner-1 {
  background-color: #204136;
}

.theme-dark .marquee__inner-2 {
  background-color: #3b3f45;
}

.dot {
  position: relative;
}

.dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 2px;
}

.theme-light .marquee__inner-1 .dot::before {
  background-color: #00b068;
}

.theme-light .marquee__inner-2 .dot::before {
  background-color: #292929;
}

.theme-dark .marquee__inner-1 .dot::before {
  background-color: #14c57c;
}

.theme-dark .marquee__inner-2 .dot::before {
  background-color: #f0f0f0;
}

.marquee-1,
.marquee-2 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.marquee-2 {
  transform: rotate(2deg);
  z-index: 0;
}

.marquee__inner-1,
.marquee__inner-2 {
  display: flex;
  align-items: center;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}

.marquee__inner-2 {
  animation-delay: 150ms;
  animation-direction: reverse;
}

.marquee-line {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 32px 0;
}

.marquee-line .dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  margin: 0 8px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .marquee-line {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    padding: 40px 0;
  }
}
