/* Work-togethet-section */

/* Styles for mobile */

.work-together-title {
  font-family: var(--font-helpers);
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.work-together-contacts-box {
  display: flex;
  flex-direction: column;
}

.work-together-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.work-together-contacts-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 16px;
}

.work-together-contacts-item {
  font-weight: 300;
  letter-spacing: 0.03em;
}
.contact-link-container {
  display: flex;
  gap: 16px;
}

body.theme-light .contacts-icon {
  fill: none;
  stroke: #00b068;
}

body.theme-dark .contacts-icon {
  fill: none;
  stroke: #14c57c;
}

body.theme-light.text-theme-red .contacts-icon {
  stroke: #6a1b9a;
}

body.theme-dark.text-theme-red .contacts-icon {
  stroke: #b388ff;
}

body.theme-light.text-theme-blue .contacts-icon {
  stroke: #ef6c00;
}

body.theme-dark.text-theme-blue .contacts-icon {
  stroke: #ffb74d;
}

body.theme-light.text-theme-purple .contacts-icon {
  stroke: #cddc39;
}

body.theme-dark.text-theme-purple .contacts-icon {
  stroke: #e6ee9c;
}

.contact-link {
  transition: all 0.3s ease;
  font-weight: 300;
  letter-spacing: 0.03em;
}

body.theme-dark .contact-link:hover,
body.theme-dark .contact-link:focus {
  color: #14c57c;
  transform: scale(1.05);
  text-shadow: 0 4px 20px rgba(0, 255, 128, 0.2),
    0 0 40px rgba(0, 255, 128, 0.5), 0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-light .contact-link:hover,
body.theme-light .contact-link:focus {
  color: #00b068;
  transform: scale(1.05);
  text-shadow: 0 4px 20px rgba(0, 255, 128, 0.2),
    0 0 40px rgba(0, 255, 128, 0.5), 0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-light.text-theme-red .contact-link:hover,
body.theme-light.text-theme-red .contact-link:focus {
  color: #58118d;
  text-shadow: 0 4px 20px rgba(170, 0, 255, 0.2),
    0 0 40px rgba(170, 0, 255, 0.5), 0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-light.text-theme-blue .contact-link:hover,
body.theme-light.text-theme-blue .contact-link:focus {
  color: #c45500;
  text-shadow: 0 4px 20px rgba(255, 110, 0, 0.2),
    0 0 40px rgba(255, 110, 0, 0.5), 0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-light.text-theme-purple .contact-link:hover,
body.theme-light.text-theme-purple .contact-link:focus {
  color: #afb833;
  text-shadow: 0 4px 20px rgba(210, 255, 0, 0.2),
    0 0 40px rgba(210, 255, 0, 0.5), 0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark.text-theme-red .contact-link:hover,
body.theme-dark.text-theme-red .contact-link:focus {
  color: #a657e0;
  text-shadow: 0 4px 20px rgba(170, 0, 255, 0.2),
    0 0 40px rgba(170, 0, 255, 0.5), 0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-dark.text-theme-blue .contact-link:hover,
body.theme-dark.text-theme-blue .contact-link:focus {
  color: #c45500;
  text-shadow: 0 4px 20px rgba(255, 110, 0, 0.2),
    0 0 40px rgba(255, 110, 0, 0.5), 0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-dark.text-theme-purple .contact-link:hover,
body.theme-dark.text-theme-purple .contact-link:focus {
  color: #afb833;
  text-shadow: 0 4px 20px rgba(210, 255, 0, 0.2),
    0 0 40px rgba(210, 255, 0, 0.5), 0 0 80px rgba(210, 255, 0, 0.4);
}

.work-together-form {
  display: flex;
  flex-direction: column;
}

.work-together-input {
  border: none;
  outline: none;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  background-color: #2a2d32;
  padding: 12px 40px 12px 16px;
  margin-bottom: 32px;
  color: rgba(240, 240, 240, 0.4);
  transition: all 0.3s ease;
}

body.theme-light .work-together-input {
  background-color: #e4e5e6;
  color: rgba(0, 0, 0, 0.2);
}

.work-together-input:hover,
.work-together-input:focus {
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
  color: #f0f0f0;
  transform: scale(1.05);
}

body.theme-light.text-theme-red .work-together-input:hover,
body.theme-light.text-theme-red .work-together-input:focus {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-light.text-theme-blue .work-together-input:hover,
body.theme-light.text-theme-blue .work-together-input:focus {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-light.text-theme-purple .work-together-input:hover,
body.theme-light.text-theme-purple .work-together-input:focus {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark.text-theme-red .work-together-input:hover,
body.theme-dark.text-theme-red .work-together-input:focus {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-dark.text-theme-blue .work-together-input:hover,
body.theme-dark.text-theme-blue .work-together-input:focus {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-dark.text-theme-purple .work-together-input:hover,
body.theme-dark.text-theme-purple .work-together-input:focus {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

.work-together-input:hover::placeholder {
  color: #f0f0f0;
}

body.theme-light .work-together-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.work-together-input-wrapper {
  position: relative;
}

.work-together-input-wrapper.hidden {
  display: none;
}

.work-togethe-input-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

body.theme-light .work-togethe-input-icon {
  fill: #00b068;
  stroke: #f0f0f0;
}

body.theme-dark .work-togethe-input-icon {
  fill: #14c57c;
  stroke: #2a2d32;
}

.input-error {
  color: #e74a3b;
  margin-bottom: 5px;
}

.email-error {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #e74a3b;
  margin-bottom: 16px;
}

.email-error.hidden {
  display: none;
}

.work-together-textarea {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 128px;
  background-color: #2a2d32;
  resize: none;
  margin-bottom: 32px;
  transition: all 0.3s ease;
}

body.theme-light .work-together-textarea {
  background-color: #e4e5e6;
  color: rgba(0, 0, 0, 0.2);
}

.work-together-textarea:hover,
.work-together-textarea:focus {
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
  color: #f0f0f0;
  transform: scale(1.05);
}

body.theme-light.text-theme-red .work-together-textarea:hover,
body.theme-light.text-theme-red .work-together-textarea:focus {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-light.text-theme-blue .work-together-textarea:hover,
body.theme-light.text-theme-blue .work-together-textarea:focus {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-light.text-theme-purple .work-together-textarea:hover,
body.theme-light.text-theme-purple .work-together-textarea:focus {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark.text-theme-red .work-together-textarea:hover,
body.theme-dark.text-theme-red .work-together-textarea:focus {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-dark.text-theme-blue .work-together-textarea:hover,
body.theme-dark.text-theme-blue .work-together-textarea:focus {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-dark.text-theme-purple .work-together-textarea:hover,
body.theme-dark.text-theme-purple .work-together-textarea:focus {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

.work-together-textarea:hover::placeholder {
  color: #f0f0f0;
}

body.theme-light .work-together-textarea:hover::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.work-send-btn {
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  width: 100%;
  font-family: var(--font-main);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: all 0.3s ease;
}

body.theme-light .work-send-btn {
  background-color: #00b068;
  color: #f0f0f0;
}

body.theme-dark .work-send-btn {
  background-color: #14c57c;
  color: #292929;
}

body.theme-light.text-theme-red .work-send-btn {
  background-color: #6a1b9a;
}

body.theme-dark.text-theme-red .work-send-btn {
  background-color: #b388ff;
}

body.theme-light.text-theme-blue .work-send-btn {
  background-color: #ef6c00;
}

body.theme-dark .text-theme-blue .work-send-btn {
  background-color: #ffb74d;
}

body.theme-light.text-theme-purple .work-send-btn {
  background-color: #cddc39;
}

body.theme-dark.text-theme-purple .work-send-btn {
  background-color: #e6ee9c;
}

body.theme-light .work-send-btn:hover,
body.theme-light .work-send-btn:focus {
  background-color: #009156;
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-dark .work-send-btn:hover,
body.theme-dark .work-send-btn:focus {
  background-color: #009156;
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-light.text-theme-red .work-send-btn:hover,
body.theme-light.text-theme-red .work-send-btn:focus {
  background-color: #58118d;
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-light.text-theme-blue .work-send-btn:hover,
body.theme-light.text-theme-blue .work-send-btn:focus {
  background-color: #c45500;
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-light.text-theme-purple .work-send-btn:hover,
body.theme-light.text-theme-purple .work-send-btn:focus {
  background-color: #afb833;
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark.text-theme-red .work-send-btn:hover,
body.theme-dark.text-theme-red .work-send-btn:focus {
  background-color: #58118d;
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-dark.text-theme-blue .work-send-btn:hover,
body.theme-dark.text-theme-blue .work-send-btn:focus {
  background-color: #c45500;
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-dark.text-theme-purple .work-send-btn:hover,
body.theme-dark.text-theme-purple .work-send-btn:focus {
  background-color: #afb833;
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

/* Styles for tablet */

@media screen and (min-width: 768px) {
  .work-together-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
  .work-together-text {
    font-size: 20px;
    line-height: 1.6;
    max-width: 486px;
  }
  .work-together-contacts-list {
    flex-direction: row;
    margin-bottom: 60px;
  }

  .work-send-btn {
    width: 173px;
  }
  .work-together-container {
    position: relative;
  }
  .work-together-bg {
    min-width: 336px;
    min-height: 260px;
    background-image: url('/img/work-together/bg-imgs/decor-bg-4-tablet.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -120px;
    right: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 192dpi) {
  .work-together-bg {
    background-image: url('/img/work-together/bg-imgs/decor-bg-4-tablet@2x.webp');
  }
}

/* Styles for desktop */

@media screen and (min-width: 1280px) {
  .work-together-title {
    margin-bottom: 80px;
    max-width: 550px;
  }
  .work-together-contacts-box {
    flex-direction: row;
    gap: 136px;
  }

  .work-together-contacts-item {
    flex-basis: calc((100% - 136px) / 2);
  }
  .work-together-text {
    margin-bottom: 120px;
  }
  .work-together-contacts-list {
    flex-direction: column;
    margin-bottom: 0;
  }
  .work-together-container {
    position: relative;
  }

  .work-together-bg {
    min-width: 526px;
    min-height: 408px;
    background-image: url('/img/work-together/bg-imgs/decor-bg-4-desktop.webp');
    position: absolute;
    top: -116px;
  }
}

@media screen and (min-width: 1279.98px) and (min-resolution: 192dpi) {
  .work-together-bg {
    background-image: url('/img/work-together/bg-imgs/decor-bg-4-desktop@2x.webp');
  }
}

/* Styles for Modal */

.work-together-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.8);
  pointer-events: auto;
}

.work-together-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.work-together-backdrop.is-close {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
}

.work-together-modal {
  z-index: 999999;
  padding: 48px 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 328px;
  border-radius: 16px;
  background-color: #2a2d32;
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-light .work-together-modal {
  background-color: #f0f0f0;
}

body.theme-light.text-theme-red .work-together-modal {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-light.text-theme-blue .work-together-modal {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-light.text-theme-purple .work-together-modal {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark.text-theme-red .work-together-modal {
  box-shadow: 0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-dark.text-theme-blue .work-together-modal {
  box-shadow: 0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-dark.text-theme-purple .work-together-modal {
  box-shadow: 0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}
.work-modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  padding: 0;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: #2a2d32;
  transition: all 0.3s ease;
}
body.theme-light .work-modal-close-btn {
  background-color: #f0f0f0;
}

.work-modal-close-btn:hover,
.work-modal-close-btn:focus {
  background-color: #3b3f45;
  box-shadow: inset 0 0 100px rgba(0, 255, 128, 0.22),
    0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-dark .work-modal-close-img {
  stroke: #f0f0f0;
}

body.theme-light.text-theme-red .work-modal-close-btn:hover,
body.theme-light.text-theme-red .work-modal-close-btn:focus {
  stroke: #58118d;
  box-shadow: inset 0 0 100px rgba(170, 0, 255, 0.22),
    0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-light.text-theme-blue .work-modal-close-btn:hover,
body.theme-light.text-theme-blue .work-modal-close-btn:focus {
  stroke: #c45500;
  box-shadow: inset 0 0 100px rgba(255, 110, 0, 0.22),
    0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-light.text-theme-purple .work-modal-close-btn:hover,
body.theme-light.text-theme-purple .work-modal-close-btn:focus {
  stroke: #afb833;
  box-shadow: inset 0 0 100px rgba(210, 255, 0, 0.22),
    0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-dark.text-theme-red .work-modal-close-btn:hover,
body.theme-dark.text-theme-red .work-modal-close-btnv:focus {
  stroke: #58118d;
  box-shadow: inset 0 0 100px rgba(170, 0, 255, 0.22),
    0 4px 20px rgba(170, 0, 255, 0.2), 0 0 40px rgba(170, 0, 255, 0.5),
    0 0 80px rgba(170, 0, 255, 0.4);
}

body.theme-dark.text-theme-blue .work-modal-close-btn:hover,
body.theme-dark.text-theme-blue .work-modal-close-btn:focus {
  stroke: #c45500;
  box-shadow: inset 0 0 100px rgba(255, 110, 0, 0.22),
    0 4px 20px rgba(255, 110, 0, 0.2), 0 0 40px rgba(255, 110, 0, 0.5),
    0 0 80px rgba(255, 110, 0, 0.4);
}

body.theme-dark.text-theme-purple .work-modal-close-btn:hover,
body.theme-dark.text-theme-purple .work-modal-close-btn:focus {
  stroke: #afb833;
  box-shadow: inset 0 0 100px rgba(210, 255, 0, 0.22),
    0 4px 20px rgba(210, 255, 0, 0.2), 0 0 40px rgba(210, 255, 0, 0.5),
    0 0 80px rgba(210, 255, 0, 0.4);
}

body.theme-light .work-modal-close-img {
  stroke: #2a2d32;
}

body.theme-light.text-theme-red .work-modal-close-img {
  stroke: #6a1b9a;
}

body.theme-dark.text-theme-red .work-modal-close-img {
  stroke: #b388ff;
}

body.theme-light.text-theme-blue .work-modal-close-img {
  stroke: #ef6c00;
}

body.theme-dark.text-theme-blue .work-modal-close-img {
  stroke: #ffb74d;
}

body.theme-light.text-theme-purple .work-modal-close-img {
  stroke: #cddc39;
}

body.theme-dark.text-theme-purple .work-modal-close-img {
  stroke: #e6ee9c;
}

body.theme-light .work-modal-close-btn:hover,
body.theme-light .work-modal-close-btn:focus {
  transform: scale(1.05);
  box-shadow: inset 0 0 100px rgba(0, 255, 128, 0.22),
    0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

body.theme-dark .work-modal-close-btn:hover,
body.theme-dark .work-modal-close-btn:focus {
  transform: scale(1.05);
  box-shadow: inset 0 0 100px rgba(0, 255, 128, 0.1),
    0 4px 20px rgba(0, 255, 128, 0.2), 0 0 40px rgba(0, 255, 128, 0.5),
    0 0 80px rgba(0, 255, 128, 0.4);
}

.work-modal-title {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}
.work-modal-text {
  font-weight: 300;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .work-together-modal {
    width: 492px;
    height: 280px;
    padding: 64px;
  }
}
.page-inactive :not(.work-together-backdrop):not(.work-together-backdrop *) {
  pointer-events: none;
}
